body {
  font-family: "OpenSans", sans-serif;

  margin: 0;
}

.header {
  box-sizing: border-box;
  background-image: url("/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  min-height: 450px;

  padding: 0;
  margin: 0;
}

.header::before {
  content: "";
  display: block;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 1;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}


.main_menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  z-index: 2;
}

.main_menu__logo_link {
  text-decoration: none;
}

.logo_img {
  margin-top: 29px;
  width: 179px;
}

.main_menu__list {
  margin: 46px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main_menu__list a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.main_menu__list__item a:hover {
  text-decoration: underline;
}

.main_menu__list li:nth-child(n + 2) {
  margin-left: 25px;
}

h1 {
  box-sizing: border-box;
  font-size: 45px;
  white-space: pre-line;
  color: #ffffff;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 75px;

  z-index: 2;
}

.trends {
  width: 100%;
  height: 443px;
  background: #ffffff;

  padding: 59px 0 0 0;
  box-sizing: border-box;
  color: #0f0d0e;
}

.trends__title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.trends__title::after {
  content: "";
  display: block;
  margin: 10px auto 0;

  width: 67px;
  height: 3px;

  border-bottom: 3px solid rgb(181, 159, 91, 0.4);
}

.trends__card__list {
    display: flex;
    margin-top: 21px;

    width: 100%;
}

.trends__card {
    max-width: 493px;
    max-height: 493px;
}

.trends__card:nth-child(n + 2) {
    margin-left: 4px;
}
